@model IEnumerable<PrimeSolverCommon.PrimeCandidateViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Primes!</h2>
Last 100 primes will be displayed. Click the button to calculate more.

<div class="progress" style="">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        <span class="sr-only">0% Complete</span>
    </div>
</div>

<p>
    <button type="button" class="btn btn-primary" id="btnSolve">Solve for more primes!</button>

    <button type="button" class="btn btn-default" id="filterDisplay" style="display: none;">Show Only Primes</button>
</p>
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPrime)
        </th>
      
        <th></th>
    </tr>*@

<script type="text/javascript">
   
</script>

<ul id="primeList">

    @foreach (var item in Model.OrderByDescending(item => item.Number))
    {
        var @isPrimeClass = item.IsPrime.HasValue && item.IsPrime.Value ? "isPrime numberCell" : "notPrime numberCell";
        <li class="@isPrimeClass">@Html.DisplayFor(modelItem => item.Number)</li>


    }
</ul>
@section scripts{
    <script type="text/javascript">
        
        function updateProgressBar(percent) {
            $('.progress-bar').css('width', percent + '%').attr('aria-valuenow', percent);
            if (percent >= 100) {
                $('.progress-bar').removeClass('active');
                toastr.success('All done!');
                $('#btnSolve').removeAttr('disabled')
            }
        }

        $(document).ready(function() {
            $('#filterDisplay').click(function() {
                $(".notPrime").toggle();
                $(this).text(function(i, text) {
                    return text === "Show All" ? "Show only Primes" : "Show All";
                });
            });

           @*@Html.ActionLink("Solve for more primes!", "CreateMany", null, new { @class = "btn btn-primary" })*@

           $('#btnSolve').click(function() {
               $.ajax({
                   url:  '@Url.Action("CreateMany", "PrimeNumberCandidate", null, Request.Url.Scheme)'
               });
               updateProgressBar(0);
               toastr.info('Prime service initiated');
               $('#btnSolve').attr('disabled', 'disabled');
               $('.progress-bar').addClass('active');
               //$('#filterDisplay').show();
           });

            //signalR stuff
            var primeHub = $.connection.primeHub;

            // Create a function that the hub can call back to display progress
            primeHub.client.updateResult = function (number, isPrime) {
                var isPrimeText = isPrime ? "isPrime " : "notPrime ";
                $("#primeList").prepend("<li class='" + isPrimeText + "numberCell'>" + number + "</li>");
                $('#btnSolve').attr('disabled', 'disabled');
            };
            primeHub.client.updateProgress = function (percent) {
                updateProgressBar(percent);
            };

            //$.connection.hub.logging = true;
            //$.connection.hub.qs = "jobId=" + jobId;
            $.connection.hub.start();

        });
    </script>
}


